<quill-editor [(ngModel)]="dataModel"
              format="object">
  <div quill-editor-toolbar>
    <span class="ql-formats">
        <small>
            <strong>
                Rich Text Editor
            </strong>
        </small>
    </span>
    <span class="ql-formats float-right">
        <button class="ql-bold"></button>
        <button class="ql-underline"></button>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-link" value="link"></button>
        <!--<button class="ql-italic"></button>-->
        <!--<select class="ql-color"></select>-->
    </span>
  </div>
</quill-editor>



<h1>Our Converted Model</h1>
<button type="button" (click)="convertDataModel()">Convert Quill model to our model</button>
<hr />
<pre>
<code>
{{ convertedDataModel | json }}
</code>
</pre>



<h1>Quill Model</h1>
<button type="button" (click)="convertBackToQuill()">Convert from our model back to Quill</button>
<hr />
<pre>
<code>
{{ dataModel | json }}
</code>
</pre>

